<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - WhatsUp applicatie</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <section class="content-wrapper">
                <section class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </section>
                <section class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Contacts", "Index", "Contacts")</li>
                            <li>@Html.ActionLink("Chat", "Index", "Chat")</li>
                            <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                        </ul>
                    </nav>
                </section>
            </section>
        </header>
        <section id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </section>
        <footer>
            <section class="content-wrapper">
                <section class="float-left">
                    <p>&copy; @DateTime.Now.Year - WhatsUp applicatie</p>
                </section>
            </section>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
