@using WhatsUp.Models;
@model IEnumerable<Contact>
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Add", "Add")
</p>

<ul>
    Lijst met contacten
    @foreach (Contact contact in Model)
    {
        <li>@contact.Name</li> 
        @Html.ActionLink("Update", "Update", new { id = contact.Id }, null)
        @Html.ActionLink("Delete", "Delete", new { id = contact.Id }, null)
    }

</ul>