@using WhatsUp.Models;
@model IEnumerable<Contact>
@{
    ViewBag.Title = "My contacts";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Add", "Add")
</p>

<ul>
    @foreach (Contact contact in Model)
    {
        <li>@contact.Name</li> 
        if (contact.whatsupAccountId.HasValue)
        {
            @Html.ActionLink("Chatten!", "ViewChat", "Chat", new { otherAccountId = contact.whatsupAccountId }, null )
        }
        else if (!contact.whatsupAccountId.HasValue)
        {
            <text>User heeft geen WhatsUp account.</text>
        }
        @Html.ActionLink("Update", "Update", new { id = contact.Id }, null)
        @Html.ActionLink("Delete", "Delete", new { id = contact.Id }, null)
    }

</ul>