@using WhatsUp.Models
@model IEnumerable<WhatsUp.Models.AccountMessage>
@{
    ViewBag.Title = "Chats";
}
<h2>Chats</h2>

<h3 style="text-align:center">Chat met: @ViewBag.contactname</h3>
@foreach (AccountMessage accountMessage in Model)
{

    if (accountMessage.SenderAccount == ViewBag.loggedin)
    {
        <p class="links">@accountMessage.Message (@accountMessage.AddedAt)</p>
        <br />
        <br />
        <div style="clear: both;"></div>
    }
    else
    {
        <p class="rechts">@accountMessage.Message (@accountMessage.AddedAt)</p>
        <br />
        <br />
        <div style="clear: both;"></div>
    }
}

    <form action="Send" method="post">
        <input type="text" name="message" />
        <input type="hidden" name="otherAccountId" value="@Model.First().OtherAccount.Id" />
        <input type="submit" name="submit" />
    </form>


